body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #126fda;
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 10px dotted #b8248b;
}

h2 {
  font-size: 1.5em;
}

.job-title {
  color: #999999;
  font-weight: bold;
}

a:link,
a:visited {
  color: #cf5915;
}

a:hover {
  text-decoration: none;
  color: green
}

ul {
  background-color: #eeeeee;
  border: 5px solid purple;
  padding: 1em;
  background-color: beige
}

.return {
  text-decoration: none;
  border-radius: 5%;
  padding: 5px;
  color: #ff2600;
  background-color: grey;
}

.return:hover {
  color: orangered;
  background-color: burlywood;
  transition-duration: 0.5s;
}

.big-text {
  color: black;
  transition: 1s;
}

.big-text:hover {
  font-size: larger;
}