
.hover-highlight-card {
    padding: 20px;
}

.hover-highlight-card:hover {
    transition: 1.5s;
    background-color: red;
    box-shadow: 10px 10px 10px;
}

.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
}

.animated-nav-menu a:hover{
    color: white;
    background-color: #00aaff;
    transition-duration: 0.5s;
}


