/* Task 1: Hover Highlight Card */
.hover-highlight-card {
    padding: 20px;
}

.hover-highlight-card:hover {
    transition: 2s;
    background-color: red;
    box-shadow: 10px 10px 10px;
}

/* Task 2: Animated Navigation Menu */
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
}

.animated-nav-menu a:hover{
    color: white;
    background-color: #00aaff;
    transition-duration: 0.5s;
}

/* Task 3: Button Press Animation */
.button-press-animation button {
    padding: 20px 20px;
    border: none;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transform: translateX(0px) translateY(0px);
}

.button-press-animation button:active{
    padding: 20px 20px;
    border: none;
    background-color: #00aaff;
    cursor: pointer;
    transform: translateX(5px) translateY(5px);
}


/* Task 4: Simple Loading Spinner */
.simple-loading-spinner .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);} to {transform: rotate(360deg);}
  }

/* Task 5: Fading Gallery */
.fading-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fading-gallery img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.fading-gallery img:hover {
    transform: translate(5px, -10px) scale(2);
    transition: ease-out 2s;
    filter: drop-shadow(10px 10px 10px);
}