p {
    color: black;
    display: inline-block;
    text-align: center;
}

.border {
    border: 5px solid red;

}

.border-black {
    border: 5px solid black;
}

.border-grey {
    border: 5px solid grey
}

.border-cream {
    border: 5px solid bisque;
}

#content {
    margin: auto;
    width: 50%;
}

.a {
    color: blue;
}

.a:hover {
    transform: scale(1.25, 1.25);
}

a:visited {
    color: purple;
}

.big-text {
    color: black;
    transition: 1s;
}

.big-text:hover {
    font-size: larger;
}

.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
}

.animated-nav-menu a:hover {
    color: white;
    background-color: #00aaff;
    transition-duration: 0.5s;
}

.darkened {
    filter: saturate(0.2) brightness(0.5);
    transition: 1.5s;
    box-shadow: black;
}

.darkened:hover {
    filter: saturate(1) brightness(1);
    transition: 1.5s;
}

.return {
    text-decoration: none;
    border-radius: 5%;
    padding: 5px;
    color: #ff2600;
    background-color: grey;
}

.return:hover {
    color: orangered;
    background-color: burlywood;
    transition-duration: 0.5s;
}

.img {
    box-shadow: 5px 5px 10px black;
}

body {
    background-color: cornsilk;
}

time {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img {
    flex-wrap: wrap;
}

#extra {
  transition: opacity 0.5s;
}
.gallery {
    display:flex;
    flex:wrap;
    justify-content:center;
    gap:15px;
}