p {
    color:black;
    display:inline-block;
    text-align: center;
}
.border{
    border: 5px solid red;
    
}
.border-black{
    border: 5px solid black;}
.border-grey{ 
    border:5px solid grey
}
.border-cream{ 
    border:5px solid bisque;
}
#content{
    margin: auto;
    width:50%;
}
.a{
   color:blue; 
}

.a:hover{
    transform:scale(1.25, 1.25);
}

a:visited{
    color:purple;
}

.big-text{
    color:black;
    transition: 1s;
}
.big-text:hover{
    font-size: larger;
}
.fading-gallery {
    display: flex;
    justify-content: space;
    flex-wrap: nowrap;
}
.fading-gallery img {
    transform: translateY(-100px);
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.fading-gallery img:hover {
    transform: translate(5px, -10px) scale(2);
    transition: ease-out 2s;
    filter: drop-shadow(10px 10px 10px);
}
.animated-nav-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.animated-nav-menu a {
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    color: #00aaff;
    background-color: white;
}

.animated-nav-menu a:hover{
    color: white;
    background-color: #00aaff;
    transition-duration: 0.5s;
}

#background-white {
    background-color: grey;
    color:white;
    display:inline-block;
    text-align: center;
    transition:0.5s;
    cursor: pointer;
    padding:10px,20px;
}
#background-white:active{
    transform: scale(0.8,0.8);
    box-shadow: 5px 5px 5px grey;

}

#background-red {
    background-color: red;
    color:white;
    display:inline-block;
    text-align: center;
    transition:0.5s;
    cursor: pointer;
    padding:10px,20px;
}
#background-red:active{
    transform: scale(0.8,0.8);
    box-shadow: 5px 5px 5px grey;
}